html {
    margin: 3rem 3rem 4.5rem 3.75rem; /* ratio: 1, 1, 1.5, 1.25 */
    font-size: calc(1em + 1vw);
}

body {
    font-family: 'Linux Biolinum G', 'Linux Biolinum O', 'Linux Biolinum', sans-serif;
    background: #17514b;
    color: #caf6f2;
    max-width: 40rem;
    margin: 0 auto;
}

body h1:first-child {
    margin-top: 0;
}

a {
    color: #3ad7f7;
    text-decoration: none;
    position: relative;
    border-radius: 10px;
    padding: 0.5em;
    display: block;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out 0s;
}

a:hover {
    background: #113d38;
}

a:focus {
    outline: none;
    background: #0b2825;
}

h1 {
    position: relative;
}

h1 .fleuron {
    font-family: 'DejaVu Sans';
    position: absolute;
    width: 2em;
    left: -2.2em;
    text-align: right;
}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.5em;
}
